body{
    background-color: blue;
}
.title{
    text-align: center;
    color: white;
}
.text{
    text-align: center;
    color: white;
}
.photo img{
    height: 100px;
    width: 100px;
    margin-left: 125px;
}
.music audio{
    width: 345px;
}
.video video{
    height:230px;
    width: 345px;
} 
.time p{
    text-align:center;
    color: white;
}